*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 50%;
    margin-bottom: 20px;
}

.button{
    margin-top: 20px;
    padding: 8px 24px;
    border: none;
    background-color: aqua;
    border-radius: 0.5rem;
}
.button:hover{
    cursor: pointer;
}
.hex{
    padding: 8px 24px;
    background-color: #f03e3e;
    border-radius: 0.5rem;
    display: block;
    text-decoration: none;
    color: #495057;
}
.hex:hover{
    background-color: #c92a2a;
    color:#212529 ;
}